BLUE = 0x0000FF
YELLOW = 0xFFFF00 
RED = 0xFF0000
GREEN = 0x00FF00
WHITE = 0xFFFFFF
ORANGE = 0xFFA500
VIOLET = 0x8F00FF

p=println
wait={t=timer()while(timer()<(t+tw)){print()}}

	color(WHITE);
	p("Deleting old cfw remnants")
	p()
	deldir("sd:/oldcfw")
	clear()

	p("Backing up current cfw")
	p()
	mkdir("sd:/oldcfw")	
	movefile("sd:/atmosphere", "sd:/oldcfw/atmosphere");
	movefile("sd:/bootloader", "sd:/oldcfw/bootloader");
	movefile("sd:/config", "sd:/oldcfw/config");
	movefile("sd:/switch", "sd:/oldcfw/switch");
	movefile("sd:/SaltySD", "sd:/oldcfw/SaltySD");
	movefile("sd:/payload.bin", "sd:/oldcfw/payload.bin");
	movefile("sd:/exosphere.ini", "sd:/oldcfw/exosphere.ini");
	movefile("sd:/hbmenu.nro", "sd:/oldcfw/hbmenu.nro");
	movefile("sd:/pacman/config/8bit-updater/restore.te", "sd:/oldcfw/restore.te");
	if (fsexists("sd:/warmboot_mariko")) {
	copydir("sd:/warmboot_mariko", "sd:/oldcfw/warmboot_mariko");
	}
	clear()

	color(RED);	
	p("Installing new cfw")
	p()	
	copydir("sd:/pacman/atmosphere", "sd:/");
	copydir("sd:/pacman/bootloader", "sd:/");
	copydir("sd:/pacman/config", "sd:/");
	copydir("sd:/pacman/switch", "sd:/");
	copydir("sd:/pacman/SaltySD", "sd:/");
	copydir("sd:/pacman/warmboot_mariko", "sd:/");
	copyfile("sd:/pacman/payload.bin", "sd:/payload.bin");
	copyfile("sd:/pacman/exosphere.ini", "sd:/exosphere.ini");
	copyfile("sd:/pacman/hbmenu.nro", "sd:/hbmenu.nro");
	clear()

	color(ORANGE);
	p("Restoring important configs")
	p()
	if (fsexists("sd:/oldcfw/switch/tinfoil/options.json")) {
	mkdir("sd:/switch/tinfoil")	
	copyfile("sd:/oldcfw/switch/tinfoil/options.json", "sd:/switch/tinfoil/options.json");
	}
	if (fsexists("sd:/oldcfw/switch/tinfoil/locations.conf")) {
	copyfile("sd:/oldcfw/switch/tinfoil/locations.conf", "sd:/switch/tinfoil/locations.conf");
	}
	if (fsexists("sd:/oldcfw/switch/Switchfin")) {
	copydir("sd:/oldcfw/switch/Switchfin", "sd:/switch");
	}
	if (fsexists("sd:/oldcfw/switch/DBI")) {
	copydir("sd:/oldcfw/switch/DBI", "sd:/switch");
	}
	if (fsexists("sd:/oldcfw/switch/prod.keys")) {
	copyfile("sd:/oldcfw/switch/prod.keys", "sd:/switch/prod.keys");
	}
	if (fsexists("sd:/oldcfw/switchroot/joycon.mac")) {
	copyfile("sd:/oldcfw/switchroot/joycon.mac", "sd:/switchroot/joycon.mac")
	}
	if (fsexists("sd:/oldcfw/switchroot/joycon.bin")) {
	copyfile("sd:/oldcfw/switchroot/joycon.bin", "sd:/switchroot/joycon.bin")
	}		
	if (fsexists("sd:/oldcfw/bootloader/ini")) {
	copydir("sd:/oldcfw/bootloader/ini", "sd:/bootloader");
	}
	clear()
	
	color(YELLOW);
	p("Finalizing")
	p()
	if (!emu()) {
	delfile("sd:/bootloader/hekate_ipl.ini")
	wait(tw = 1000)
	movefile("sd:/pacman/autoboot.ini", "sd:/bootloader/hekate_ipl.ini");
	}
	deldir("sd:/config/8bit-updater");
	deldir("sd:/pacman");
	clear()

	color(GREEN);	
	p("Update complete!")
	p()
	p("Rebooting")
	wait(tw = 1000)
